@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --va-data-table-grid-tr-border: 1px solid red;
  --va-data-table-grid-tr-header-color: red;
}

:host {
  --va-font-family: 'Poppins', sans-serif !important;
}
